
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

html {
    scroll-behavior: smooth;
}

#inicio {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("img/imagen-fondo1.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#inicio .contenido header {
    background-color: rgba(0,0,0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: #c957b2;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover{
    color: #c957b2;
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}
#inicio .contenido header .contenido-header .redes a:hover{
    color: #c957b2;
}

#inicio .contenido header .contenido-header .seleccionado {
  color: #c957b2;
}

#inicio .contenido .presentacion{
max-width: 1100px;
height: 100vh;
margin: auto;
color: #fff;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#inicio .contenido .presentacion .bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#inicio .contenido .presentacion h2 { 
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 40px;
    color: #c957b2
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

 #inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase ;
    transition: .5s;
 }
 #inicio .contenido .presentacion a:hover {
    background-color: #c957b2;
 }

 #icono-nav{
    color: #fff;
    display: none;
 }

 /* SOBRE MI */

 #sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
 }

 #sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
 }

 #sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
 }

 #sobremi .sobremi {
margin: 0 40px;
 }

 #sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
 }

 #sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
 }

 #sobremi .sobremi h2 span {
    color: #c957b2
 }

 #sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
 }

 #sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
 }

 #sobremi .sobremi a {
    display: inline-blocK;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 18px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
 }

 #sobremi .sobremi a:hover {
    background-color: #d82c2c; 
    color: #fff;
  }

  /* TRABAJOS */
  #trabajos {
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
  }

  #trabajos .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
  }

  #trabajos .fila {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
  }

  #trabajos .fila .servicio {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-right: 5px;
    transition: .5s;
  }

  #trabajos .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
  } 

  #trabajos .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
  }

  #trabajos .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d6d6d6;
    padding: 20px;
    color: #c957b2;
    margin-bottom: 25px;
  }

  #trabajos .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
  }

  #trabajos .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
 }

 #servicio .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
 }


 /* HABILIDADES */

.contenedor-skill {
  background: linear-gradient(#eb5aafcc, rgba(33,16,16,.8)), url("img/fondo-skills.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center; 
}

.contenedor-skill .skill{
  max-width: 600px;
  margin: 30px auto;
}

.contenedor-skill .skill .info {
  display: flex;
  justify-content: space-between;
}

.contenedor-skill .skill .lista{
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
}

.cintenedor-skill .skill .barra {
  background-color: #919191;
  width: 100%;
  width: 100%;
  height: 6px;
  margin: 10px 0;
}
.contenedor-skill .skill .barra .barra-progreso1{
  background-color: #fff;
  width: 96%;
  height: 6px;
  animation: progreso1 2s forwards;
}

.contenedor-skill .skill .barra .barra-progreso2{
  background-color: #fff;
  width: 96%;
  height: 6px;
  animation: progreso2 2s forwards;
}

.contenedor-skill .skill .barra .barra-progreso3{
  background-color: #fff;
  width: 96%;
  height: 6px;
  animation: progreso3 2s forwards;
}

.contenedor-skill .skill .barra .barra-progreso4{
  background-color: #fff;
  width: 96%;
  height: 6px;
  animation: progreso4 2s forwards;
}

.contenedor-skill .skill .barra .barra-progreso5{
  background-color: #fff;
  width: 96%;
  height: 6px;
  animation: progreso5 2s forwards;
}

@keyframes progreso1 {
  0% {
    width: 0;
    }
  100% {
    width: 95%
  }
}

@keyframes progreso2 {
  0% {
    width: 0;
    }
  100% {
    width: 15%
  }
}

@keyframes progreso3 {
  0% {
    width: 0;
    }
  100% {
    width: 10%
  }
}

@keyframes progreso4 {
  0% {
    width: 0;
    }
  100% {
    width: 70%
  }
}

@keyframes progreso5 {
  0% {
    width: 0;
    }
  100% {
    width: 80%
  }
}

/* Portfolio */

#portfolio {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}

#portfolio .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px
}

#portfolio .fila {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

#portfolio .fila .proyecto {
  max-width: 450px;
  border: 1px solid #000;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

#portfolio .fila .proyecto img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: .5s
}

#portfolio .fila .proyecto:hover img{
  filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  color: #c957b2;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
}

#portfolio .fila .proyecto:hover .info{
  opacity: 1;
  bottom: 0;
}
/* Contacto */

#contacto {
  padding: 100px 15px;
}

#contacto .titulo-seccion{
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#contacto .contenedor-form{
  max-width: 1100px;
  margin: auto;
}

#contacto .contenedor-form .mitad{
  display: flex;
  justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto.contenedor-form textarea{
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input{
  width: 48%;
}

#contacto .contenedor-form .input-full {
  width: 100%;
}

#contacto .btn-enviar{
display:block;
margin: auto; 
cursor: pointer;
transition: .5s;
padding: 10px 15px;
font-size: 18px;
font-weight: bold;
}

#contacto .btn-enviar:hover{
  background-color: #c957b2;
  color: #fff;
}

/* FOOTER */

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}

.email {
  color: rgb(201, 201, 201);
  font-size: 14px;
  margin-top: 5px;
}

/* Responsive */

@media screen and (max-width:800px) {

  .redes {
    display: none;
  }

  nav {
    display: none;
  }

  nav.responsive {
    display: block;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    position: absolute;
    top:48px;
    left: 0;
    padding: 10px 0;
  }

  nav.responsive ul {
    display: block !important;
    text-align: center;
  }

  nav.responsive ul li {
    margin: 5px 0;
  }

  #icono-nav{
    display:block;
  }
  #inicio .contenido .presentacion h2 {
    font-size: 40px;
  }

  #sobremi {
    padding:50px 0;
    display:block;
  }

  #sobremi.contenedor-foto {
    max-width: 200px;
    margin: auto;
  }
  #sobremi .contenedor-foto img {
padding: 8px;
  }

  #sobremi .sobremi .titulo-seccion{
    text-align:center;
  }

  #sobremi .sobremi h2{
    font-size: 25px;
    text-align: center;
  }

  #servicios {
    padding: 50px 15px;
  }

  #servicios .fila {
    display: block;
  }

  #servicios .fila.servicio 
  {
    margin: 10px auto;
  }

  .contenedor-skills {
    padding: 58px 20px; 
  }

  #portfolio {
    padding: 58px 0;
  }

  #portfolio.fila {
    display:block;
  }

  #portfolio .fila .proyecto {
    margin: 10px auto;
  }

  #contacto {
    padding: 50px 15px;
  }

  #contacto .contenedor-form .mitad{
    margin-bottom: 15px;
    display:block;
  }

  #contacto .contenedor-form .mitad input {
    width: 100%;
    margin-bottom: 15px;
  }
}

